.tw-border-b {
  border-bottom-style: solid;
}
.messages-container {
  bottom: 100px;

  p {
    margin: 0;
  }

  .message-body .message-menu {
    display: none;
  }

  .message-body:hover .message-menu {
    display: block;
  }
}
.new-message-container {
  height: 100px;

  textarea {
    height: 68px;
  }
}
.message-edit {
  textarea {
    height: 100px;
  }
}
