$topHeight: 60px;
$footerHeight: 85px;

$topBgColor: #141515;
$topGrayColor: #4D5356;
$bgColor: #0D0E0E;
$hoverBgColor: #161616;
$bgMenuColor: #141515;
$textMenuColor: #9EA1A6;
$bgMenuTooltip: #0B76DB;

$btnBgColor: #0B76DB;

$reactionYellowColor: #FFC841;
$reactionOrangeColor: #E25822;
$reactionRedColor: #F71B26;
$reactionGreenColor: #00BC75;
$reactionBlueColor: #0B76DB;

$teamColor: #000;
$edgeColor: #0B76DB;
$lifetimeColor: #07B3FF;
$coachColor: #FAA300;
