$topHeight: 60px;
$footerHeight: 100px; // actual 85px

$topBgColor: #141515;
$bgColor: #0D0E0E;
$hoverBgColor: #161616;
$bgMenuColor: #141515;
$textMenuColor: #9EA1A6;

$reactionYellowColor: #FFC841;
$reactionBlueColor: #0B76DB;
$reactionRedColor: #F71B26;


$teamColor: #000;
$edgeColor: #0B76DB;
$lifetimeColor: #07B3FF;
$coachColor: #FAA300;
